<%- include("../partials/start.ejs") -%>

<%- include("../partials/header.ejs") -%>

<div>
    <h3>Cambiar contraseña</h3>
    <form action="/profile/password" method="post">
        <input type="password" placeholder="Nueva contraseña" name="pass_form">
        <input type="password" placeholder="Repetir contraseña" name="pass_form_repeat">
        <span> <%= message %> </span>
        <button type="submit">Confirmar</button>
    </form>
</div>

<%- include("../partials/end.ejs") -%>