    <div id="my_footer">
        <div class="footer_unit top">
            <p>Email de contacto: info@empresa.com</p>
        </div>
        <div class="footer_unit">
            <p>Política de Privacidad y Términos de Servicio disponibles bajo solicitud.</p>
            <p>Todos los derechos de imagenes, videos y multimedia reservados a su autor. </p>
        </div>
    </div>
</section>


</body>
</html>
