<section id="main">
    <% if (typeof myuser !=='undefined') { %> 
    
    <div id="header_menu">
        <div id="menu_content">
            <div><i class="fa-solid fa-user"></i><a href="/profile/">Ver Perfil</a></div>
            <div><i class="fa-solid fa-pen-to-square"></i><a href="/profile/account">Editar Perfil</a></div>
            <div><i class="fa-solid fa-plus"></i><a href="/courses/new">Crear curso</a></div>
            <form method="POST" action="/logout">
                <i style="color:red" class="fa-solid fa-arrow-right-from-bracket"></i><button type="submit">Cerrar sesión</button>
            </form>
            
        </div>
    </div>
    <div id="arrow-up"></div>
    <% } %>
    <div id="responsive_menu">
        <div id="menu_content">
            <% if (typeof myuser !=='undefined') { %> 
            <div id="close_responsive_menu"><i class="fa-solid fa-x"></i><a>Cerrar menú</a></div>
            <div><i class="fa-solid fa-user"></i><a href="/profile/">Ver Perfil</a></div>
            <div><i class="fa-solid fa-pen-to-square"></i><a href="/profile/account">Editar Perfil</a></div>
            <div><i class="fa-solid fa-plus"></i><a href="/courses/new">Crear curso</a></div>
            <form method="POST" action="/logout">
                <i style="color:red" class="fa-solid fa-arrow-right-from-bracket"></i><button type="submit">Cerrar sesión</button>
            </form>
            <% } else { %>
                <div id="close_responsive_menu"><i class="fa-solid fa-x"></i><a>Cerrar menú</a></div>
                <div><a href="/login">Login</a></div>
                <div><a href="/register">Register</a></div>
            <% } %>
        </div>
    </div>
    
    <header id="myheader" >
        <div id="title">
            <h1>TechTeach</h1>
        </div>
        <div id="links" class="desktop-view">
            <a href="/">Inicio</a>
            <a href="/courses">Buscar cursos</a>

            <% if (typeof myuser !=='undefined') { %> 

            <a href="/profile" id="profile">
                <img class="profile_picture" src="http://192.168.1.33/images/pfp/<%= myuser.mypfp %>" alt="">
            </a>
            
            <% } else { %>

            <a href="/login">Login</a>
            <a href="/register">Register</a>
            
            <% } %>
            
        </div>
        <div id="links" class="mobile-view">
            <i class="fa-solid fa-bars" id="open_responsive_menu"></i>
        </div>

    </header>
<script>


let i_menu=document.getElementById("open_responsive_menu")
i_menu.addEventListener('click',()=>{
    open_responsive_menu()
})

function open_responsive_menu(){
    document.getElementById('responsive_menu').style.display="flex"
}

let div_menu=document.getElementById("close_responsive_menu")
div_menu.addEventListener('click',()=>{
    close_responsive_menu()
})

function close_responsive_menu(){
    document.getElementById('responsive_menu').style.display="none"
}


</script>

<script>


let img=document.getElementById("profile")
let header_menu= document.getElementById('header_menu')
let header_arrow= document.getElementById('arrow-up')
let timeout;

if (img) {
    img.addEventListener("mouseover", () => open_menu(true));
    img.addEventListener("mouseout", handle_mouse);

    header_arrow.addEventListener("mouseover", () => open_menu(false));
    header_arrow.addEventListener("mouseout", handle_mouse);

    header_menu.addEventListener("mouseover", () => open_menu(false));
    header_menu.addEventListener("mouseout", close_menu);
}

function open_menu(something) {
    clearTimeout(timeout);
    header_menu.style.display="flex"
    header_arrow.style.display="flex"
}

function close_menu() {
    header_menu.style.display="none"
    header_arrow.style.display="none"
}

function handle_mouse() {
    timeout = setTimeout(close_menu, 380); 
}


</script>