<%- include("./partials/start.ejs") -%>
<link rel="stylesheet" href="/stylesheets/404_style.css">
</head>
<body>
<%- include("./partials/header.ejs") -%>
<div id="main_page_404">
    <h1>Error 404 - No se encontró la página</h1>
</div>


<%- include("./partials/end.ejs") -%>