<%- include("./partials/start.ejs") -%>

<%- include("./partials/header.ejs") -%>
   
<h1>Profile</h1>
<div>
   <a href="/profile/account">Editar perfil</a>
   <a href="/profile/password">Cambiar contraseña</a>
   <a href="/courses/subscriptions">Cursos subscritos</a>
   <a href="/courses/new">Crear curso</a>
   <a href="/profile/whishlist">Wishlist</a>
   <a href="/profile/deactivate">Desactivar cuenta</a>
    

</div>



<%- include("./partials/end.ejs") -%>